body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #8ee5b0;
}

.navbar .navbar-toggler {
    border:0;
}


.hero-container {
    height: 100vh;
    background-color:  #f2d3e3;
    background: url("../images/rb_2148911388.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container {
    background-color:  #8ee5b0;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 0 0;
}

.links-container {
    background-color:  #f2d3e3;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 0 0;
}

.quotes-container {
    background-color:  #dcf2d3;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    margin: 0 0;
}

.card {
    padding-bottom: 10px;
}
