/*---------------------------------------------Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

.hidden-heading {
    display: none;
}

header {
    background-color: #c3eff0;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#logo {
    height: 50px;
    align-items: center;
    position: absolute;
    padding-top: 5px;
}

#title {
    text-align: center;
    font-size: 100%;
    text-decoration: solid;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #c3eff0;
    width: 100%;
    left: 0;
    padding: 5px 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



main {
    background-color: #f2d3e3;
    flex: 1 0 auto;
    margin-top: 52px;

}

/* Footer */

footer {
    background-color: #c3eff0;
    box-shadow: 0 -2px 2px #3a3a3a;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #f2d3e3;
}

#social-networks i:hover {
    color: #3a3a3a;

}

/*---------------------------------------------Media Query: tablets and larger (768px and up)*/
@media screen and (min-width:768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #title {
        font-size: 150%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #logo {
        height: 90px;
        padding-top: 0px;
    
    }

    main {
        margin-top: 89px;
    }

}

@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}